.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 }
.container .navbar {
 margin-top: 0;
}

.navbar-logo{
 margin-left: 1rem;
 
}

.navbar-menu--buttons {
 margin-right: 1rem;
}

@media screen and (max-width: 525px) {
 .navbar-menu--buttons {
  display: none;
 }
  
}